div.avatar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.page-title {
  font-size: 100;
}

h4.table-selector-header {
  margin-bottom: 0;
  padding: 12px;
}

div.personalized-card {
  margin-bottom: 10px;
}


@media screen and (max-width: 440px) {

  div.personalized-card {
    margin-bottom: 5px;
  }

  personalized-card-width {
    width: 10rem;
  }
}